<h2>
  <strong>Profile for</strong>
  <%= @user.fname %>
  <%= @user.lname %>
</h2>

<!-- This shows the user's posts on -->
<div class="posts">
  <% @list = @user.posts %>
  <% @list.each do | post | %>
	  <div class="post_content">
		  Posted by <%= @user.email %> on <%= post[:created_at]%>:
		  <div class="post_body">
			  <%= post[:content] %>
		  </div>
 	  </div>
 	  <h3>Comments on this post:</h3>
 	  <div class="post_comments">
		  <% postcomments = post.comments %>
		  <% postcomments.each do | comment | %>
			<div class="post_comment">
			    <%= comment.user[:email] %> says: "<%= comment[:body] %>"
		    </div>
		  <% end %> 
	  </div>
	  <hr />
  <% end %>
</div>

<p>


</p>


<a href="/users"> User's Page</a>

