<h2>
  <strong>Profile for</strong>
  <%= @user.fname %>
  <%= @user.lname %>
</h2>

<!-- This shows the user's posts on -->
<div class="posts">
  <% @list = @user.posts %>
  <% @list.each do | post | %>
	  <div class="post_content">
		  <div class="post_body">
			  Posted by <%= @user.email %> on <%= post[:created_at]%>:<br>
			  <%= post[:content] %>
		  </div>
 	  </div>
 	  <div class="post_comments">
	 	<h3>Comments on this post:</h3>
 	  	<% if post.comments.length != 0 %>
		  <% postcomments = post.comments %>
		  <% postcomments.each do | comment | %>
			<div class="post_comment">
			    - <%= comment.user[:email] %> says: "<%= comment[:body] %>"
		    </div>
		  <% end %> 
		<% else %>
			- There are no comments.
		<% end %><br><br>
	    <li><%= link_to  "Add a Comment", {:controller =>'comments', :action => 'new', :post_id => post.id } %></li>
	  </div>
  <% end %>
</div>

<p>


</p>


<a href="/users"> User's Page</a>

